.wrapper {
    width: 500px;
    height: 40%;
    background-color: #ffffff5e;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 30px #00000080;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
    font-family: Questrial, sans-serif;
    font-size: 1em;
    justify-content: center;
    margin-left: 1rem;
  }

h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
.titre{
    margin-top: 10px;
    margin-bottom: 10px;
  }