<style>

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1{
    margin: 8px 0;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('../assets/stages.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: #f5d7bf;
    opacity: 10;
  }

</style>



<div class="content">
  <router-outlet></router-outlet>
</div>


